In [215]:
import pandas as pd
import numpy as np

Load Dataset

In [216]:
monkeyPox_data=pd.read_csv('Worldwide_Case_Detection_Timeline.csv')

Our dataset contains the data of individual person.

Information of monkeyPox_dataset

In [217]:
monkeyPox_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46863 entries, 0 to 46862
Data columns (total 9 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Date_confirmation        46863 non-null  object
 1   Country                  46863 non-null  object
 2   City                     1146 non-null   object
 3   Age                      2698 non-null   object
 4   Gender                   2207 non-null   object
 5   Symptoms                 278 non-null    object
 6   Hospitalised (Y/N/NA)    413 non-null    object
 7   Isolated (Y/N/NA)        582 non-null    object
 8   Travel_history (Y/N/NA)  419 non-null    object
dtypes: object(9)
memory usage: 3.2+ MB

Information of country_wise dataset

Null values in individual dataset row-wise

In [218]:
monkeyPox_data.isnull().sum(axis=1)

0        7
1        7
2        7
3        6
4        6
        ..
46858    7
46859    7
46860    7
46861    7
46862    7
Length: 46863, dtype: int64

monkeyPox_dataset has 9 columns. If ther are rows that have more than 6 or 7 null values and number of those rows are high then there is no use of those rows. So, check how many rows fall in this category and discard them.

In [219]:
len(monkeyPox_data.loc[monkeyPox_data.isnull().sum(axis=1)>=6])

44679

For better analysis, use rows that have minimum number of null values.

In [220]:
monkeyPox_data=monkeyPox_data.loc[monkeyPox_data.isnull().sum(axis=1)<=len(monkeyPox_data.columns)/2]

In [221]:
monkeyPox_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 977 entries, 26 to 45642
Data columns (total 9 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Date_confirmation        977 non-null    object
 1   Country                  977 non-null    object
 2   City                     642 non-null    object
 3   Age                      836 non-null    object
 4   Gender                   907 non-null    object
 5   Symptoms                 264 non-null    object
 6   Hospitalised (Y/N/NA)    347 non-null    object
 7   Isolated (Y/N/NA)        444 non-null    object
 8   Travel_history (Y/N/NA)  348 non-null    object
dtypes: object(9)
memory usage: 76.3+ KB

In [222]:
print(monkeyPox_data.shape)
monkeyPox_data.reset_index(inplace=True)

(977, 9)

All attributes are object type. We can fill missing values of with the maximum frequency value of the corresponding value. But in case of City, we need to take care of valid country,city combinations.

In [223]:
temp=monkeyPox_data.groupby('Country')['City'].count()

In [224]:
temp.index

Index(['Argentina', 'Australia', 'Austria', 'Bahamas', 'Barbados', 'Belgium',
       'Bolivia', 'Brazil', 'Bulgaria', 'Canada', 'Chile', 'Colombia',
       'Costa Rica', 'Croatia', 'Cuba', 'Cyprus', 'Czech Republic', 'Denmark',
       'Dominican Republic', 'Ecuador', 'England', 'Finland', 'France',
       'Germany', 'Gibraltar', 'Greece', 'Guatemala', 'Guyana', 'Honduras',
       'Hungary', 'Iceland', 'India', 'Indonesia', 'Ireland', 'Israel',
       'Italy', 'Jamaica', 'Japan', 'Lebanon', 'Liberia', 'Malta', 'Mexico',
       'Moldova', 'Netherlands', 'Panama', 'Peru', 'Philippines', 'Poland',
       'Portugal', 'Puerto Rico', 'Romania', 'Saudi Arabia', 'Scotland',
       'Singapore', 'Slovakia', 'Slovenia', 'South Africa', 'South Korea',
       'Spain', 'Sweden', 'Switzerland', 'Taiwan', 'Thailand', 'Turkey',
       'United Arab Emirates', 'United States', 'Venezuela'],
      dtype='object', name='Country')

In [ ]:
temp['Canada']

In [226]:
rough=[]
for i in temp.index:
    # print(temp[i])
    if(temp[i]==0):
        rough.append(i)
len(rough)

34

In [227]:
monkeyPox_data.drop(monkeyPox_data.loc[monkeyPox_data['Country'].map(lambda x: True if x in rough else False) ].index,inplace=True)

In [228]:
monkeyPox_data.shape

(892, 10)

In [229]:
countries=monkeyPox_data['Country'].unique()

In [230]:
countries

array(['England', 'Portugal', 'Spain', 'United States', 'Belgium',
       'Germany', 'Canada', 'Italy', 'Sweden', 'France', 'Australia',
       'Switzerland', 'Israel', 'Austria', 'Czech Republic', 'Finland',
       'Argentina', 'Mexico', 'Gibraltar', 'Brazil', 'Poland', 'Romania',
       'Hungary', 'Chile', 'South Korea', 'South Africa', 'Colombia',
       'Peru', 'Dominican Republic', 'Saudi Arabia', 'India', 'Thailand',
       'Guatemala'], dtype=object)

In [231]:
temp=monkeyPox_data.set_index('Country')['City']

In [240]:
list(set(temp['Guatemala'].values))[0]

'Guatemala City'

In [232]:
for i in countries:
    print(temp[i])

Country
England        London
England        London
England        London
England        London
England        London
England     Newcastle
England        London
England    South East
England        London
England           NaN
England           NaN
England           NaN
England           NaN
England           NaN
England           NaN
England           NaN
England           NaN
Name: City, dtype: object
Country
Portugal    Lisbon
Portugal    Lisbon
Portugal    Lisbon
Portugal    Lisbon
Portugal    Lisbon
Portugal    Lisbon
Portugal    Lisbon
Portugal    Lisbon
Portugal    Lisbon
Portugal    Lisbon
Portugal    Lisbon
Portugal    Lisbon
Portugal    Lisbon
Portugal    Lisbon
Portugal    Lisbon
Portugal    Lisbon
Portugal    Lisbon
Portugal    Lisbon
Portugal    Lisbon
Portugal    Lisbon
Portugal       NaN
Portugal       NaN
Portugal       NaN
Portugal       NaN
Portugal       NaN
Portugal       NaN
Portugal       NaN
Portugal       NaN
Portugal       NaN
Portugal       NaN
Portugal       NaN
Portugal       NaN
Portugal       NaN
Portugal       NaN
Portugal       NaN
Portugal       NaN
Portugal       NaN
Portugal       NaN
Portugal       NaN
Portugal       NaN
Portugal       NaN
Portugal       NaN
Portugal       NaN
Portugal       NaN
Portugal       NaN
Portugal       NaN
Portugal       NaN
Portugal       NaN
Portugal       NaN
Portugal       NaN
Portugal       NaN
Portugal       NaN
Portugal       NaN
Portugal       NaN
Portugal       NaN
Portugal       NaN
Portugal       NaN
Portugal       NaN
Portugal       NaN
Name: City, dtype: object
Country
Spain          Madrid
Spain          Madrid
Spain          Madrid
Spain          Madrid
Spain          Madrid
Spain          Madrid
Spain          Madrid
Spain          Madrid
Spain          Madrid
Spain          Madrid
Spain          Madrid
Spain          Madrid
Spain          Madrid
Spain          Madrid
Spain          Madrid
Spain          Madrid
Spain          Madrid
Spain          Madrid
Spain          Madrid
Spain          Madrid
Spain          Madrid
Spain          Madrid
Spain    Gran Canaria
Spain             NaN
Spain             NaN
Spain        Tenerife
Spain          Madrid
Spain          Madrid
Spain          Madrid
Spain          Madrid
Spain          Madrid
Spain          Madrid
Spain          Madrid
Spain          Madrid
Spain          Madrid
Spain          Madrid
Spain          Madrid
Spain          Aragon
Spain           Cadiz
Spain         Seville
Spain    Gran Canaria
Spain    Gran Canaria
Spain    Gran Canaria
Spain          Malaga
Spain          Madrid
Spain          Aragon
Spain     Formentera
Spain             NaN
Spain             NaN
Name: City, dtype: object
Country
United States           Boston
United States              NaN
United States              NaN
United States              NaN
United States              NaN
United States              NaN
United States              NaN
United States              NaN
United States              NaN
United States           Denver
United States              NaN
United States              NaN
United States          Chicago
United States              NaN
United States              NaN
United States    Washington DC
United States              NaN
United States           Dallas
United States              NaN
United States              NaN
United States              NaN
United States              NaN
United States              NaN
United States              NaN
United States              NaN
United States              NaN
United States              NaN
United States              NaN
United States              NaN
United States              NaN
United States          Houston
United States              NaN
United States           Austin
United States              NaN
United States              NaN
United States          Houston
United States              NaN
United States              NaN
United States              NaN
United States              NaN
United States              NaN
United States              NaN
United States              NaN
United States              NaN
United States              NaN
United States        Anchorage
Name: City, dtype: object
Country
Belgium     Antwerp
Belgium     Antwerp
Belgium       Liège
Belgium         NaN
Belgium         NaN
Belgium    Brussels
Belgium         NaN
Belgium    Brussels
Belgium         NaN
Name: City, dtype: object
Country
Germany             Munich
Germany             Berlin
Germany    Jerichower Land
Germany       Ortenaukreis
Germany          Frankfurt
Germany            Ansbach
Germany             Munich
Germany            Cologne
Germany            Cologne
Germany            Cologne
Germany       Ortenaukreis
Germany         Dusseldorf
Germany         Dusseldorf
Germany            Münster
Germany             Berlin
Germany             Berlin
Germany            Potsdam
Germany                NaN
Germany            Hamburg
Germany             Aachen
Germany             Berlin
Germany             Berlin
Germany             Berlin
Germany             Berlin
Germany             Berlin
Germany     Köln (Cologne)
Germany     Köln (Cologne)
Germany           Günzburg
Germany           Coesfeld
Germany             Berlin
Germany       Brandenburg
Germany          Havelland
Germany                NaN
Germany                NaN
Germany                NaN
Germany                NaN
Germany                NaN
Germany                NaN
Germany                NaN
Germany                NaN
Germany                NaN
Germany                NaN
Germany                NaN
Germany                NaN
Germany                NaN
Germany                NaN
Germany                NaN
Germany                NaN
Name: City, dtype: object
Country
Canada        NaN
Canada        NaN
Canada        NaN
Canada        NaN
Canada        NaN
           ...
Canada    Toronto
Canada    Toronto
Canada    Toronto
Canada    Toronto
Canada    Toronto
Name: City, Length: 454, dtype: object
Country
Italy          Rome
Italy        Arezzo
Italy      Lombardy
Italy           NaN
Italy         Milan
Italy       Bologna
Italy         Milan
Italy           NaN
Italy       Brescia
Italy         Monza
Italy         Monza
Italy         Milan
Italy           NaN
Italy        Trento
Italy           NaN
Italy      Piacenza
Italy      Piacenza
Italy        Padova
Italy           NaN
Italy    Conversano
Italy         Milan
Italy         Monza
Italy        Varese
Italy       Taranto
Italy      Sabaudia
Italy         Turin
Name: City, dtype: object
Country
Sweden          Stockholm
Sweden    Västra Götaland
Name: City, dtype: object
Country
France    île-de-France
France    île-de-France
France    île-de-France
France         Toulouse
France             Lyon
France              NaN
France              NaN
France              NaN
France              NaN
France              NaN
France              NaN
France              NaN
France              NaN
France              NaN
France              NaN
France              NaN
France        Marseille
France              NaN
Name: City, dtype: object
Country
Australia       Sydney
Australia    Melbourne
Australia    Melbourne
Australia       Sydney
Australia       Sydney
Australia       Sydney
Australia       Sydney
Australia          NaN
Name: City, dtype: object
Country
Switzerland    Bern
Switzerland     NaN
Switzerland     NaN
Name: City, dtype: object
Country
Israel    Tel Aviv
Israel         NaN
Israel         NaN
Name: City, dtype: object
Country
Austria        Vienna
Austria           NaN
Austria        Vienna
Austria        Vienna
Austria        Vienna
Austria        Vienna
Austria        Vienna
Austria        Vienna
Austria    Vorarlberg
Name: City, dtype: object
Country
Czech Republic    Prague
Czech Republic    Prague
Czech Republic    Prague
Czech Republic       NaN
Czech Republic       NaN
Czech Republic       NaN
Czech Republic       NaN
Czech Republic       NaN
Name: City, dtype: object
Country
Finland         Hus
Finland    Helsinki
Name: City, dtype: object
Country
Argentina             NaN
Argentina    Buenos Aires
Argentina             NaN
Argentina      Godoy Cruz
Argentina    Buenos Aires
Argentina         Cordoba
Argentina             NaN
Argentina             NaN
Argentina             NaN
Argentina             NaN
Argentina             NaN
Argentina             NaN
Name: City, dtype: object
Country
Mexico            NaN
Mexico    Mexico City
Mexico            NaN
Mexico            NaN
Mexico            NaN
Name: City, dtype: object
Gibraltar
Country
Brazil              Sao Paulo
Brazil                Vinhedo
Brazil           Porto Alegre
Brazil                    NaN
Brazil                    NaN
Brazil             Indaiatuba
Brazil                    NaN
Brazil                 Marica
Brazil                    NaN
Brazil    Rio de Janeiro City
Brazil    Rio de Janeiro City
Brazil         Belo Horizonte
Brazil              Fortaleza
Brazil                  Natal
Brazil                 Russas
Brazil         Belo Horizonte
Brazil         Belo Horizonte
Brazil               Curitiba
Brazil               Curitiba
Brazil            Sete Lagoas
Brazil            Sete Lagoas
Brazil               Cascavel
Brazil                    NaN
Name: City, dtype: object
Warsaw
Country
Romania    Bucharest
Romania    Bucharest
Romania    Bucharest
Romania    Bucharest
Romania          NaN
Romania    Bucharest
Romania    Bucharest
Romania    Bucharest
Romania    Bucharest
Romania    Bucharest
Romania    Bucharest
Romania          NaN
Romania          NaN
Romania          NaN
Romania          NaN
Romania          NaN
Romania          NaN
Romania          NaN
Romania          NaN
Romania          NaN
Name: City, dtype: object
Country
Hungary         NaN
Hungary    Budapest
Hungary    Budapest
Hungary         NaN
Hungary         NaN
Hungary         NaN
Hungary         NaN
Hungary         NaN
Hungary         NaN
Hungary         NaN
Hungary         NaN
Hungary         NaN
Hungary         NaN
Hungary         NaN
Name: City, dtype: object
Country
Chile    Santiago
Chile         NaN
Chile    Santiago
Chile        Lima
Chile        Lima
Chile        Lima
Chile         NaN
Chile         NaN
Chile         NaN
Chile         NaN
Chile         NaN
Chile         NaN
Chile         NaN
Chile         NaN
Chile         NaN
Chile         NaN
Chile         NaN
Chile         NaN
Chile         NaN
Chile         NaN
Name: City, dtype: object
Incheon
Country
South Africa             NaN
South Africa       Cape Town
South Africa             NaN
South Africa             NaN
South Africa    Johannesburg
Name: City, dtype: object
Country
Colombia    Bogotá
Colombia    Bogotá
Colombia    Bogota
Name: City, dtype: object
Country
Peru    Lima
Peru     NaN
Name: City, dtype: object
Country
Dominican Republic              NaN
Dominican Republic              NaN
Dominican Republic              NaN
Dominican Republic              NaN
Dominican Republic    Santo Domingo
Dominican Republic              NaN
Dominican Republic              NaN
Dominican Republic              NaN
Name: City, dtype: object
Riyadh
Country
India      NaN
India      NaN
India      NaN
India      NaN
India      NaN
India      NaN
India    Delhi
Name: City, dtype: object
Country
Thailand     Phuket
Thailand        NaN
Thailand     Phuket
Thailand    Bangkok
Thailand        NaN
Name: City, dtype: object
Country
Guatemala               NaN
Guatemala    Guatemala City
Guatemala    Guatemala City
Name: City, dtype: object

In [150]:
temp['England']

Country
England        London
England        London
England        London
England        London
England        London
England     Newcastle
England        London
England    South East
England        London
England           NaN
England           NaN
England           NaN
England           NaN
England           NaN
England           NaN
England           NaN
England           NaN
Name: City, dtype: object

In [187]:
monkeyPox_data

,level_0,index,Date_confirmation,Country,City,Age,Gender,Symptoms,Hospitalised (Y/N/NA),Isolated (Y/N/NA),Travel_history (Y/N/NA)
0,0,26,2022-05-06,England,London,NaN,NaN,rash,Y,Y,Y
1,1,37,2022-05-12,England,London,NaN,NaN,rash,Y,Y,N
2,2,38,2022-05-13,England,London,NaN,NaN,vesicular rash,N,Y,N
3,3,39,2022-05-15,England,London,NaN,male,vesicular rash,Y,Y,N
4,4,40,2022-05-15,England,London,NaN,male,vesicular rash,NaN,Y,N
...,...,...,...,...,...,...,...,...,...,...,...
887,964,39422,2022-08-17,South Africa,Johannesburg,20-40,male,NaN,NaN,NaN,Y
888,971,42113,2022-08-19,Guatemala,Guatemala City,35-39,male,NaN,NaN,Y,NaN
889,973,42353,2022-08-21,Dominican Republic,NaN,30-60,male,NaN,Y,NaN,NaN
890,975,45641,2022-08-24,Dominican Republic,NaN,40-39,male,NaN,NaN,Y,NaN
891,976,45642,2022-08-24,Dominican Republic,NaN,20-24,male,NaN,NaN,Y,NaN

In [246]:
count=0

In [283]:
countryCity={}
for i in countries:
    if(type(temp[i])==str):
        countryCity[i]=temp[i]
        # print(temp[i])
    else:
        # count+=1
        # print(count)
        # print(list(set(temp[i].values))[0])
        countryCity[i]=list(item for item in temp[i].values if not np.nan is item)[0]

In [253]:
t=monkeyPox_data.stack(dropna=False)

In [252]:
monkeyPox_data.reset_index(inplace=True)

In [256]:
t[891]

level_0                                   976
index                                   45642
Date_confirmation                  2022-08-24
Country                    Dominican Republic
City                                      NaN
Age                                     20-24
Gender                                   male
Symptoms                                  NaN
Hospitalised (Y/N/NA)                     NaN
Isolated (Y/N/NA)                           Y
Travel_history (Y/N/NA)                   NaN
dtype: object

In [192]:
t[50]

level_0                                50
index                                  89
Date_confirmation              2022-05-20
Country                            Canada
City                                  NaN
Age                                 20-64
Gender                               male
Symptoms                   genital ulcers
Hospitalised (Y/N/NA)                   N
Isolated (Y/N/NA)                       Y
Travel_history (Y/N/NA)               NaN
dtype: object

In [184]:
display(t)

0    level_0                               0
     index                                26
     Date_confirmation            2022-05-06
     Country                         England
     City                             London
                                 ...
891  Date_confirmation            2022-08-24
     Country              Dominican Republic
     Age                               20-24
     Gender                             male
     Isolated (Y/N/NA)                     Y
Length: 7019, dtype: object

In [175]:
monkeyPox_data.reset_index(inplace=True)

In [257]:
t[891]['City'] is np.nan

True

In [202]:
t[50]['Country']

'Canada'

In [203]:
countryCity['Canada']

nan

In [258]:
monkeyPox_data['City'].isnull().sum()

250

In [284]:
countryCity

{'England': 'London',
 'Portugal': 'Lisbon',
 'Spain': 'Madrid',
 'United States': 'Boston',
 'Belgium': 'Antwerp',
 'Germany': 'Munich',
 'Canada': "Clinique l'Actuel, Montreal",
 'Italy': 'Rome',
 'Sweden': 'Stockholm',
 'France': 'île-de-France',
 'Australia': 'Sydney',
 'Switzerland': 'Bern',
 'Israel': 'Tel Aviv',
 'Austria': 'Vienna',
 'Czech Republic': 'Prague',
 'Finland': 'Hus',
 'Argentina': 'Buenos Aires',
 'Mexico': 'Mexico City',
 'Gibraltar': 'Gibraltar',
 'Brazil': 'Sao Paulo',
 'Poland': 'Warsaw',
 'Romania': 'Bucharest',
 'Hungary': 'Budapest',
 'Chile': 'Santiago',
 'South Korea': 'Incheon',
 'South Africa': 'Cape Town',
 'Colombia': 'Bogotá',
 'Peru': 'Lima',
 'Dominican Republic': 'Santo Domingo',
 'Saudi Arabia': 'Riyadh',
 'India': 'Delhi',
 'Thailand': 'Phuket',
 'Guatemala': 'Guatemala City'}

In [270]:
countryCity['Dominican Republic']

nan

In [277]:
set(temp['Dominican Republic'].values)

{'Santo Domingo', nan}

In [271]:
countryCity

{'England': 'Newcastle',
 'Portugal': 'Lisbon',
 'Spain': 'Malaga',
 'United States': 'Denver',
 'Belgium': 'Liège',
 'Germany': 'Havelland',
 'Canada': 'Clinique a la Licorne, Montreal',
 'Italy': 'Rome',
 'Sweden': 'Västra Götaland',
 'France': 'Toulouse',
 'Australia': 'Melbourne',
 'Switzerland': 'Bern',
 'Israel': 'Tel Aviv',
 'Austria': 'Vorarlberg',
 'Czech Republic': 'Prague',
 'Finland': 'Hus',
 'Argentina': 'Buenos Aires',
 'Mexico': 'Mexico City',
 'Gibraltar': 'Gibraltar',
 'Brazil': 'Porto Alegre',
 'Poland': 'Warsaw',
 'Romania': 'Bucharest',
 'Hungary': 'Budapest',
 'Chile': 'Lima',
 'South Korea': 'Incheon',
 'South Africa': 'Cape Town',
 'Colombia': 'Bogotá',
 'Peru': 'Lima',
 'Dominican Republic': nan,
 'Saudi Arabia': 'Riyadh',
 'India': 'Delhi',
 'Thailand': 'Bangkok',
 'Guatemala': 'Guatemala City'}

In [269]:
t[890]

level_0                                   975
index                                   45641
Date_confirmation                  2022-08-24
Country                    Dominican Republic
City                                      NaN
Age                                     40-39
Gender                                   male
Symptoms                                  NaN
Hospitalised (Y/N/NA)                     NaN
Isolated (Y/N/NA)                           Y
Travel_history (Y/N/NA)                   NaN
dtype: object

In [263]:
len(monkeyPox_data)

892

In [285]:
for i in range(len(monkeyPox_data)):
    if(t[i]['City'] is np.nan):
        t[i]['City']=countryCity[t[i]['Country']]

In [286]:
monkeyPox_data=t.unstack()

In [302]:
monkeyPox_data.describe()

,level_0,index,Date_confirmation,Country,City,Age,Gender,Symptoms,Hospitalised (Y/N/NA),Isolated (Y/N/NA),Travel_history (Y/N/NA)
count,892,892,892,892,892,762,833,227,305,391,291
unique,892,892,82,33,131,52,5,50,2,2,2
top,0,26,2022-08-02,Canada,Toronto,20-69,male,fever,Y,Y,Y
freq,1,1,58,454,286,153,803,49,173,389,207

In [ ]:
monkeyPox_data

In [301]:
monkeyPox_data['Age'].fillna(temp['Age']['top'])

0      20-69
1      20-69
2      20-69
3      20-69
4      20-69
       ...
887    20-40
888    35-39
889    30-60
890    40-39
891    20-24
Name: Age, Length: 892, dtype: object

In [294]:
temp=monkeyPox_data.describe()

In [299]:
temp['Age']['top']

'20-69'

In [303]:
for col in monkeyPox_data.columns:
    monkeyPox_data[col].fillna(temp[col]['top'],inplace=True)

In [304]:
monkeyPox_data.isnull().sum()

level_0                    0
index                      0
Date_confirmation          0
Country                    0
City                       0
Age                        0
Gender                     0
Symptoms                   0
Hospitalised (Y/N/NA)      0
Isolated (Y/N/NA)          0
Travel_history (Y/N/NA)    0
dtype: int64

In [305]:
monkeyPox_data.count()

level_0                    892
index                      892
Date_confirmation          892
Country                    892
City                       892
Age                        892
Gender                     892
Symptoms                   892
Hospitalised (Y/N/NA)      892
Isolated (Y/N/NA)          892
Travel_history (Y/N/NA)    892
dtype: int64